treeview.view.unlit:selected {
	background-image: none;
}

treeview.view.unlit:selected:not(.branch):not(.remote):not(.tag):not(.stash) {
	background-color: @theme_base_color;
	color: @theme_text_color;
}

treeview.view.unlit:selected:hover:not(.branch):not(.remote):not(.tag):not(.stash) {
	background-color: mix(@theme_base_color, @theme_selected_bg_color, 0.3);
}

entry.error {
	background-image: none;
}

list.changes row {
	padding: 0;
	min-height: 0;
}

viewport.changes {
	padding: 0;
	border: none;
}

.changes-label {
	border-radius: 6px;
	border: 1px solid @theme_bg_color;
	background-color: #888a85;
	color: #eeeeec;
	font-size: smaller;
	padding: 0 6px;
	margin: 2px;
}
