treeview.view.unlit:selected {
	background-image: none;
}

treeview.view.unlit:selected:not(.branch):not(.remote):not(.tag):not(.stash) {
	background-color: @theme_base_color;
	color: @theme_text_color;
}

entry.error {
	background-image: none;
}
